<h1>Strains</h1>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Thc</th>
        <th>Cbd</th>
        <th>Cbn</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="strain in strains">
      <td>
        <a href="#/strains/{{strain.id}}/show">
          {{strain.name}}
        </a>
      </td>
        <td>
          {{strain.detail.thc}}
        </td>
        <td>
          {{strain.detail.cbd}}
        </td>
        <td>
          {{strain.detail.cbn}}
        </td>
      <td>
        <a href="#/strains/{{strain.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          Edit
        </a>
        <button ng-click="destroy(strain.id,$index)" class="btn btn-danger">
          <i class="icon-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a href='#/strains/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
