<form name="newStrain">
  <fieldset>
    <legend>
      New Strain
    </legend>
    <div class="row">
    <div class="form-group col-xs-2">
      <label class="control-label">
        Name
      </label>
      <div class="controls">
        <input type="text"
        name="name"
        ng-model="strain.name"
        class="form-control"
        required>
        <span ng-show="newStrain.name.$error.required"
        class="help-inline">
        Required
      </span>
    </div>
  </div>
  </div>
  <legend>
      Details
  </legend>
  <div class="row">
  <div class="form-group col-xs-2">
    <label class="control-label">
      Thc
    </label>
    <div class="controls">
      <input type="text"
      name="thc"
      ng-model="strain.detail_attributes.thc"
      class="form-control"
      required>
      <span ng-show="newStrain.thc.$error.required"
      class="help-inline">
      Required
    </span>
  </div>
</div>
<div class="form-group col-xs-2">
  <label class="control-label">
    Cbd
  </label>
  <div class="controls">
    <input type="text"
    name="cbd"
    ng-model="strain.detail_attributes.cbd"
    class="form-control"
    required>
    <span ng-show="newStrain.cbd.$error.required"
    class="help-inline">
    Required
  </span>
</div>
</div>

<div class="form-group col-xs-2">
  <label class="control-label">
    Cbn
  </label>
  <div class="controls">
    <input type="text"
    name="cbn"
    ng-model="strain.detail_attributes.cbn"
    class="form-control"
    required>
    <span ng-show="newStrain.cbn.$error.required"
    class="help-inline">
    Required
  </span>
      <!-- drop down bar<select data-ng-model="strain.detail_attributes.cbn"
            data-ng-options="level for level in levels">
          </select> !-->
</div>
</div>
</div>
<legend>
  Other
</legend>


<div class="row">
<div class="form-group col-xs-2">
  <label class="control-label">
    Choose feelings:
  </label>
<fieldset class ="form-group">
    <select size="10" data-ng-model="strain.feeling_ids" multiple ng-multiple="true" data-ng-options="feeling.id as feeling.name for feeling in feelings" >
    </select>
</fieldset>
  </div>


<div class="form-group col-xs-4">
  <label class="control-label">
    Opinion
  </label>
    <div class="controls">
     <!-- should change this to textarea? !-->
    <textarea
    name="opinion"
    ng-model="strain.editorial_attributes.opinion"
    class="form-control"
    rows="8"
    required></textarea>
    <span ng-show="newStrain.opinion.$error.required"
    class="help-inline">
    Required
  </span>
</div>
</div>
</div>
<div class="form-group col-xs-2">
<div class="row">
<div class="form-actions">
  <button class="btn btn-success" ng-click="save()"
  ng-disabled="isClean() || newStrain.$invalid">
  <i class="icon-save"></i> Save
</button>
<button ng-click="destroy()"
ng-show="strain.id"
class="btn btn-danger">
<i class="icon-trash"></i> Delete
</button>
<a href="/" class="btn">Back to strains</a>
</div>
</div>
</div>
</fieldset>
{{strain}}
</form>

