<h1>Strain</h1>


<p>
  <b>Name</b><br>
  {{strain.name}}
</p>


<p>
  <b>Thc</b><br>
  {{strain.detail.thc}}
</p>

<p>
  <b>Cbd</b><br>
  {{strain.detail.cbd}}
</p>

<p>
  <b>Cbn</b><br>
  {{strain.detail.cbn}}
</p>

<p>
  <b>Feelings</b><br>
  <i ng-repeat="feeling in strain.feelings">
    {{feeling.name}},
</i>

</p>

<p>
  <b>Opinion</b><br>
  {{strain.editorial.opinion}}
</p>

<div class="form-actions">
  <a href="#/strains/{{strain.id}}/edit"
    class="btn btn-primary"><i class="icon-edit"></i>
    Edit Strain
  </a>
  <button ng-click="destroy(strain.id)" class="btn btn-danger">
    <i class="icon-trash"></i> Delete
  </button>
  <a href="/" class="btn">
    Back to strains
  </a>
</div>

