<!doctype html>
<html ng-app="strainApp">
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>


  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Marijuana</a>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <h1>Strains Strains Everywhere!</h1>
      <p>Get started by clicking New below!</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-view></div>
      </div>
    </div>

  </body>
  </html>
