// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//to account for fixed menu bar at top
@media (min-width: 1px) {
    body {
        padding-top: 60px;
    }
}
